.DS_Store
bin/
dist/
*.log
/tmp/
/.idea/
.vscode/
coverage/
*.exe
*.out
*.test
go.work
node_modules/
configs/generated/
deploy/*.crt
deploy/*.key
.gocache/
install/binaries/
deploy/etcd-data/
./install/binaries/
/install/binaries/v0.1.0/
